body{
    background-color: papayawhip;
    color: saddlebrown;
}

.fokeret{
    margin: auto;
    width: 1200px;
}

.fejlec{
    background-image: url(szines.jpg);
    padding: 10px;
    background-size: 100%;
}

.menu{
    float: left;
    padding: 10px;
    width: 250px;
}

.tartalom{
    float: right;
    width: 800px;
    padding: 40px;
    padding-top: 0px;
}

li{
    border: 2px solid blue;
    background-color: white;
    list-style-image: url(chili-pepper-icon.gif);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

table{
    width: 300px;
    margin: auto;
}

td{
    padding: 5px;
    align-items: center;
    border: 1px solid saddlebrown;
}

.right{
    width: 120px;
}